body {
    background-image: url("../images/bg.jpg");
}
.drum {
  position: relative;
  height: 100vh;
}
.container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fa-angle-down {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.key {
    width: 40px;
    height: 40px;
    color: #fff;
    background: #000;
    font-size: 30px;
    text-align: center;
    border: 3px solid yellow;
    transition: all .07s;
    padding: 20px;
    overflow: hidden;
    float: left;
    margin: 20px;
    border-radius: 50%;
}

.playing {
    transform: scale(1.1);
    border: 13px solid orange;
    box-shadow: 3px 3px 43px red;
}
